
@if (this.Teacher is not null){
    <tr>
        <td>@Teacher.Picture</td>
        <td>@Teacher.Name</td>
        <td>@Teacher.T_ID</td>
        <td>
            <a class="btn btn-light"
               href="/addteacher/@Teacher.T_ID">
                Dodaj
            </a>
        </td>
        
    </tr>
}

@code {
    [Parameter]
    public Teacher? Teacher { get; set; }
}
