@using HoE.UseCase.Students.Interfaces
@inject IViewStudentsByNameUseCase ViewStudentsByNameUseCase


<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>S_ID</th>
        </tr>
    </thead>
    
    <tbody>
        @if (students is not null && students.Count > 0){
            @foreach (var stu in students)
            {
                <StudentListItemComponent Student="stu"></StudentListItemComponent>
            }

        }
        
        
    </tbody>

</table>
@code {
    private List<StudentViewModel>? students;
    [Parameter]
    public string? SearchStudentFilter { get; set; }
    protected override async Task OnInitializedAsync()
    {
        students = (await ViewStudentsByNameUseCase
        .ExecuteAsync(SearchStudentFilter ?? string.Empty))
    .Select(s => new StudentViewModel
        {
            S_ID = s.S_ID,
            Name = s.Name
            
            // inne pola które potrzebujesz w UI
        })
    .ToList();
    }
}
