@page "/students"
@using HoE.Components.Controls.Students

<h3>Lista uczniów horyzontów edukacji</h3>

<EditForm Model="studentNameToSearch" FormName="SFormSearch">
    <div class="input-group">
        <InputText
            class="form-control"
            placeholder="Proszę wpisać imię i nazwisko szykanego ucznia"
            @bind-Value="this.studentNameToSearch">
        </InputText>
        <button type="submit" class="btn-success">Wyszukaj</button>
    </div>
</EditForm>

<StudentListComponent SearchStudentFilter="@studentNameToSearch"></StudentListComponent>
@code {
    [SupplyParameterFromForm]
    private string studentNameToSearch { get; set; } = string.Empty;
}
