@page "/addteacher"
@inject IAddTeacherUseCase AddTeacherUseCase
@inject NavigationManager NavigationManager

<h3>Dodaj Nauczyciela</h3>
<br/>
<EditForm Model ="teacher" FormName="formTeacher" OnValidSubmit="Save">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">Imię</label>
        <InputText id="name"
        @bind-Value="teacher.Name"
        class="form-control">
        </InputText>
    </div>

    <div class="form-group">
        <label for="zdj">Zdjęcie</label>
        <InputText id="zdj"
                   @bind-Value="teacher.Picture"
                   class="form-control">
        </InputText>
    </div>

    <button type="submit" class="btn btn-success">Zapisz</button>
    &nbsp;
    <a href="/teachers" class="btn btn-danger">Anuluj</a>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private TeacherViewModel teacher { get; set; } = new TeacherViewModel();
    private async Task Save()
    {
        var inv = new Teacher
            {
                T_ID = teacher.T_ID,
                Name = teacher.Name,
                Picture = teacher.Picture
            };
        await AddTeacherUseCase.ExecuteAsync(inv);
        NavigationManager.NavigateTo("/teachers");
    }

}
