@using HoE.Components.ViewModels
@using HoE.UseCase.TAvaliable
@inject IGetTeacherAvailabilityGridUseCase GetTeacherAvailabilityGridUseCase

@page "/addteacheravability/{TeachId:int}"


<h3>Ustawienie dostępności nauczyciela</h3>

<AvailabilityGrid
results="results"
OnSlotClicked="ToggleSlot" />

@code{
    [Parameter]
    public int TeachId { get; set; }

    private List<AvailabilitySlotViewModel> results = new();

    protected override async Task OnInitializedAsync(){
        await GetTeacherAvailabilityGridUseCase.ExecuteAsync(TeachId);
    }

    private void ToggleSlot(AvailabilitySlotViewModel slot)
    {
        slot.IsBooked = !slot.IsBooked;
    }
}