@page "/deleteteacher/{TeachId:int}"
@inject NavigationManager NavigationManager
@inject IDeleteTeacherUseCase DeleteTeacherUseCase
@inject IViewTeachersByIdUseCase ViewTeachersByIdUseCase

@if (teacher == null)
{
    <p>Ładowanie...</p>
}
else
{
    <h3>Usuń nauczyciela</h3>
    <h2>Czy na pewno chcesz usunąć tego nauczyciela?</h2>
    <EditForm Model="teacher" FormName="DeleteTeacher" OnValidSubmit="Yes">
        <button type="submit" class="btn btn-danger">Tak</button>
        <a href="/teachers" class="btn btn-success">Nie</a>
    </EditForm>
}

@code {
    [Parameter]
    public int TeachId { get; set; }
    
    [SupplyParameterFromForm]
    private Teacher? teacher { get; set; }
    
    protected override async Task OnInitializedAsync(){
        this.teacher ??= await ViewTeachersByIdUseCase.ExecuteAsync(this.TeachId);
    }
    
    private async Task Yes(){
        await DeleteTeacherUseCase.ExecuteAsync(teacher);
        NavigationManager.NavigateTo("/teachers");
    }
}