.slot {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

    .slot.booked {
        background-color: red;
        color: white;
    }

    .slot.free {
        background-color: green;
        color: white;
    }
