@using HoE.Components.ViewModels

<button class="slot @(Slot.IsBooked ? "booked" : "free")"
        type="button"
     @onclick="HandleClick">
    @Slot.StartTime.ToString("HH:mm")
</button>

@code {
    [Parameter]
    public AvailabilityGridSlotViewModel Slot { get; set; } = default!;

    [Parameter]
    public EventCallback<AvailabilityGridSlotViewModel> OnClick { get; set; }

    private async Task HandleClick()
    {
        Console.WriteLine($"Clicked slot: {Slot.StartTime}"); // <- tymczasowy test
        await OnClick.InvokeAsync(Slot);
        
    }
}
