@using HoE.Components.ViewModels
<p>GRID Days count: @Days.Count</p>

<div class="availability-grid">
    @foreach (var day in Days)
    {
        <div class="availability-day">
            <div class="day-header">
                @day.Date.ToString("dd.MM.yyyy")
            </div>

            <div class="day-slots">
                @foreach (var slot in day.Slots)
                {
                    <AvailabilitySlot Slot="slot"
                                      OnClick="OnSlotClicked" />
                }
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public List<AvailabilityGridDayViewModel> Days { get; set; } = [];

    [Parameter]
    public EventCallback<AvailabilityGridSlotViewModel> OnSlotClicked { get; set; }
}
