@using HoE.Components.ViewModels

<div class="availability-grid">
    @foreach (var slot in results)
    {
        <AvailabilitySlot
        Slot="slot"
        OnClick="() => OnSlotClicked.InvokeAsync(slot)" />
    }
</div>
@code {
    [Parameter]
    public List<AvailabilitySlotViewModel> results { get; set; } = [];

    [Parameter]
    public EventCallback<AvailabilitySlotViewModel> OnSlotClicked { get; set; }


}
