.slot {
    width: 80px;
    height: 40px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}

.booked {
    background-color: #ff6b6b;
}

.free {
    background-color: #51cf66;
}
